# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://javfiorjnisekjnrjtsg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphdmZpb3JqbmlzZWtqbnJqdHNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI2MzUyNTQsImV4cCI6MjA3ODIxMTI1NH0.aYjImaRVuactHjnMYLGBSSQeMeSCMNktWZROCv9qEyQ

# Admin Credentials (hardcoded for 2 users only)
# Groom
ADMIN_EMAIL_GROOM=groom@wedding.com
ADMIN_PASSWORD_GROOM=your-secure-password-here

# Bride
ADMIN_EMAIL_BRIDE=bride@wedding.com
ADMIN_PASSWORD_BRIDE=your-secure-password-here
